body {
  background-color: #62856d;
  margin-bottom: 30px;
  
}

h1 {
  margin-top: 15px;
  
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  background-color: #ffcd31;
  border-radius: 20px 20px 0px 0px;  
    
}

.navbar ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  
}

.navbar li {
  display: inline-block;
   
}

.navbar a {
  float: none;
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 35px;
  ;
}

.img {
  padding-right: 10px;
  padding-bottom: 5px;
  width: 50px;
}


.navbar a:hover {
  border-bottom: solid;
}

.active {
  border-bottom: solid;
}

.footer {
  background-color: #ffcd31;
  border-radius: 0px 0px 20px 20px; 
  color: black; 
  
}

.td {
  text-align: center;
}

.button {
  text-decoration: none;
  font-weight: bold;
  background-color: #ff7e26;
  padding: 10px 40px;
  margin: 30px;
  border-radius: 10px;
  color: black;
  border: solid #484c4d
}

.button:hover {
  background-color: #ffcd31;
  color: black;
}

.tableHead {
  background-color: #383838;
  color: white

}
.home table {
  border: solid
}

.home table td{
  padding: 30px;
  margin: 15px;
  border: solid;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}